Repository featbit/featbit, pull requests merged in 2022-10, with the labels that each got.

#59 ✨ add end-user related api
  infra/mongodb/docker-entrypoint-initdb.d/seed.js
  modules/back-end/src/Api/Controllers/EndUserController.cs
  modules/back-end/src/Api/Controllers/EndUserPropertyController.cs
  modules/back-end/src/Application/Bases/ErrorCodes.cs
  modules/back-end/src/Application/EndUsers/DeleteEndUserProperty.cs
  modules/back-end/src/Application/EndUsers/EndUserFilter.cs
  modules/back-end/src/Application/EndUsers/GetEndUser.cs
  modules/back-end/src/Application/EndUsers/GetEndUserByKeyIds.cs
  modules/back-end/src/Application/EndUsers/GetEndUserList.cs
  modules/back-end/src/Application/EndUsers/GetEndUserProperties.cs
  modules/back-end/src/Application/EndUsers/UpsertEndUser.cs
  modules/back-end/src/Application/EndUsers/UpsertEndUserProperty.cs
  modules/back-end/src/Application/Services/IEndUserService.cs
  modules/back-end/src/Domain/EndUsers/EndUser.cs
  modules/back-end/src/Domain/EndUsers/EndUserCustomizedProperty.cs
  modules/back-end/src/Domain/EndUsers/EndUserPresetValue.cs
  modules/back-end/src/Domain/EndUsers/EndUserProperty.cs
  modules/back-end/src/Infrastructure/Bases/MongoDbServiceBase.cs
  modules/back-end/src/Infrastructure/ConfigureServices.cs
  modules/back-end/src/Infrastructure/EndUsers/EndUserService.cs
  modules/back-end/src/Infrastructure/MongoDb/MongoDbClient.cs
  modules/back-end/tests/Application.IntegrationTests/Snapshots/UserControllerTests.GetUserProfile.verified.txt
Labels: API

#63 ✨ Feat(ui/connection-api): end users
  modules/front-end/src/app/core/components/guide/guide.component.ts
  modules/front-end/src/app/core/components/props-drawer/props-drawer.component.html
  modules/front-end/src/app/core/components/props-drawer/props-drawer.component.less
  modules/front-end/src/app/core/components/props-drawer/props-drawer.component.ts
  modules/front-end/src/app/core/components/target-user/target-user.component.ts
  modules/front-end/src/app/core/core.module.ts
  modules/front-end/src/app/core/pipes/extra-user-column.pipe.ts
  modules/front-end/src/app/core/services/env-user-prop.service.ts
  modules/front-end/src/app/core/services/env-user.service.ts
  modules/front-end/src/app/features/safe/feature-flags/details/targeting/targeting.component.ts
  modules/front-end/src/app/features/safe/segments/details/targeting/targeting.component.ts
  modules/front-end/src/app/features/safe/users/details/details.component.ts
  modules/front-end/src/app/features/safe/users/index/index.component.html
  modules/front-end/src/app/features/safe/users/index/index.component.ts
  modules/front-end/src/app/shared/constants.ts
  modules/front-end/src/app/shared/types.ts
  modules/front-end/src/locale/messages.xlf
  modules/front-end/src/locale/messages.zh.xlf
Labels: UI

#71 ✨ Data Sync
  infra/mongodb/docker-entrypoint-initdb.d/seed.js
  modules/back-end/src/Api/Controllers/DataSyncController.cs
  modules/back-end/src/Api/Controllers/EnvironmentSettingController.cs
  modules/back-end/src/Application/Bases/ErrorCodes.cs
  modules/back-end/src/Application/ConfigureServices.cs
  modules/back-end/src/Application/DataSync/DownloadSyncData.cs
  modules/back-end/src/Application/DataSync/SyncToRemote.cs
  modules/back-end/src/Application/DataSync/UploadSyncData.cs
  modules/back-end/src/Application/Environments/DeleteSetting.cs
  modules/back-end/src/Application/Environments/GetSettings.cs
  modules/back-end/src/Application/Environments/UpsertSetting.cs
  modules/back-end/src/Application/Services/IDataSyncService.cs
  modules/back-end/src/Application/Services/IEnvironmentService.cs
  modules/back-end/src/Domain/DataSync/EndUserSyncData.cs
  modules/back-end/src/Domain/DataSync/RemoteSyncPayload.cs
  modules/back-end/src/Domain/DataSync/SyncData.cs
  modules/back-end/src/Domain/EndUsers/EndUser.cs
  modules/back-end/src/Domain/Environments/Environment.cs
  modules/back-end/src/Domain/Environments/Setting.cs
  modules/back-end/src/Domain/Environments/SettingTypes.cs
  modules/back-end/src/Domain/Utils/ReusableJsonSerializerOptions.cs
  modules/back-end/src/Infrastructure/ConfigureServices.cs
  modules/back-end/src/Infrastructure/DataSync/DataSyncService.cs
  modules/back-end/src/Infrastructure/Environments/EnvironmentService.cs
Labels: API

#73 ✨Evaluation Server Basic Message Handling
  modules/evaluation-server/src/Api/ServicesRegister.cs
  modules/evaluation-server/src/Domain/Protocol/MessageTypes.cs
  modules/evaluation-server/src/Domain/WebSockets/ConnectionHandler.cs
  modules/evaluation-server/src/Domain/WebSockets/ConnectionManager.Log.cs
  modules/evaluation-server/src/Domain/WebSockets/IConnectionHandler.cs
  modules/evaluation-server/src/Domain/WebSockets/IMessageHandler.cs
  modules/evaluation-server/src/Domain/WebSockets/IMessageReader.cs
  modules/evaluation-server/src/Domain/WebSockets/Message.cs
  modules/evaluation-server/src/Domain/WebSockets/MessageHandler.Log.cs
  modules/evaluation-server/src/Domain/WebSockets/MessageHandler.cs
  modules/evaluation-server/src/Domain/WebSockets/MessageReader.cs
  modules/evaluation-server/tests/Application.IntegrationTests/WebSockets/EchoTests.cs
  modules/evaluation-server/tests/Application.IntegrationTests/WebSockets/PingTests.cs
Labels: Evaluation Server

#75 ✨ Feature flag management module
  infra/mongodb/docker-entrypoint-initdb.d/seed.js
  modules/back-end/src/Api/Controllers/FeatureFlagController.cs
  modules/back-end/src/Application/FeatureFlags/RestoreFeatureFlag.cs
  modules/back-end/src/Application/FeatureFlags/ToggleFeatureFlag.cs
  modules/back-end/src/Domain/FeatureFlags/FeatureFlag.cs
  modules/front-end/src/app/core/components/expt-rules-drawer/expt-rules-drawer.component.html
  modules/front-end/src/app/core/components/expt-rules-drawer/expt-rules-drawer.component.less
  modules/front-end/src/app/core/components/expt-rules-drawer/expt-rules-drawer.component.ts
  modules/front-end/src/app/core/components/find-rule/find-rule.component.html
  modules/front-end/src/app/core/components/find-rule/find-rule.component.ts
  modules/front-end/src/app/core/components/find-rule/rule/rule.component.ts
  modules/front-end/src/app/core/components/find-rule/serve/serve.component.html
  modules/front-end/src/app/core/components/find-rule/serve/serve.component.ts
  modules/front-end/src/app/core/components/target-user/target-user.component.html
  modules/front-end/src/app/core/components/target-user/target-user.component.ts
  modules/front-end/src/app/core/services/feature-flag.service.ts
  modules/front-end/src/app/core/services/switch-v2.service.ts
  modules/front-end/src/app/features/safe/feature-flags/details/setting/setting.component.html
  modules/front-end/src/app/features/safe/feature-flags/details/setting/setting.component.less
  modules/front-end/src/app/features/safe/feature-flags/details/setting/setting.component.ts
  modules/front-end/src/app/features/safe/feature-flags/details/targeting/targeting.component.html
  modules/front-end/src/app/features/safe/feature-flags/details/targeting/targeting.component.ts
  modules/front-end/src/app/features/safe/feature-flags/feature-flags-routing.module.ts
  modules/front-end/src/app/features/safe/feature-flags/index/index.component.html
  modules/front-end/src/app/features/safe/feature-flags/index/index.component.ts
  modules/front-end/src/app/features/safe/feature-flags/types/details.ts
  modules/front-end/src/app/features/safe/feature-flags/types/switch-index.ts
  modules/front-end/src/app/features/safe/feature-flags/types/switch-new.ts
  modules/front-end/src/app/features/safe/segments/details/targeting/targeting.component.html
  modules/front-end/src/app/features/safe/segments/types/segments-index.ts
  modules/front-end/src/app/shared/rules.ts
  modules/front-end/src/app/shared/types.ts
  modules/front-end/src/locale/messages.xlf
  modules/front-end/src/locale/messages.zh.xlf
Labels: UI, API

#78 ✨feat: fusion of archived feature flag list to feature flag list
  modules/back-end/src/Application/FeatureFlags/FeatureFlagFilter.cs
  modules/back-end/src/Infrastructure/FeatureFlags/FeatureFlagService.cs
  modules/front-end/src/app/core/services/feature-flag.service.ts
  modules/front-end/src/app/features/safe/feature-flags/index/index.component.html
  modules/front-end/src/app/features/safe/feature-flags/index/index.component.less
  modules/front-end/src/app/features/safe/feature-flags/index/index.component.ts
  modules/front-end/src/app/features/safe/feature-flags/types/switch-index.ts
  modules/front-end/src/app/features/safe/safe-routing.module.ts
  modules/front-end/src/app/features/safe/safe.component.ts
  modules/front-end/src/app/features/safe/switch-archive/switch-archive-routing.module.ts
  modules/front-end/src/app/features/safe/switch-archive/switch-archive.component.html
  modules/front-end/src/app/features/safe/switch-archive/switch-archive.component.less
  modules/front-end/src/app/features/safe/switch-archive/switch-archive.component.spec.ts
  modules/front-end/src/app/features/safe/switch-archive/switch-archive.component.ts
  modules/front-end/src/app/features/safe/switch-archive/switch-archive.module.ts
  modules/front-end/src/locale/messages.xlf
  modules/front-end/src/locale/messages.zh.xlf
Labels: UI, API

#81 ✨ Try interacting with the demo
  docker-compose-dev.yml
  modules/front-end/src/app/core/components/guide/guide.component.html
  modules/front-end/src/app/core/components/guide/guide.component.ts
Labels: documentation, demo

#82 ✨ data-sync part 2
  modules/evaluation-server/src/Api/ServicesRegister.cs
  modules/evaluation-server/src/Domain/Core/EvaluationScope.cs
  modules/evaluation-server/src/Domain/Core/Operator.cs
  modules/evaluation-server/src/Domain/Core/OperatorTypes.cs
  modules/evaluation-server/src/Domain/Core/RuleMatcher.cs
  modules/evaluation-server/src/Domain/Core/SplittingAlgorithm.cs
  modules/evaluation-server/src/Domain/Core/UserVariation.cs
  modules/evaluation-server/src/Domain/Core/Variation.cs
  modules/evaluation-server/src/Domain/EndUsers/EndUser.cs
  modules/evaluation-server/src/Domain/Protocol/ClientSdkPayload.cs
  modules/evaluation-server/src/Domain/Protocol/ServerSdkPayload.cs
  modules/evaluation-server/src/Domain/Services/IDataSyncService.cs
  modules/evaluation-server/src/Domain/WebSockets/ConnectionManager.cs
  modules/evaluation-server/src/Domain/WebSockets/ConnectionStore.cs
  modules/evaluation-server/src/Domain/WebSockets/IConnectionManager.cs
  modules/evaluation-server/src/Infrastructure/Caches/RedisService.cs
  modules/evaluation-server/src/Infrastructure/Kafka/FeatureFlagChangeMessageHandler.cs
  modules/evaluation-server/src/Infrastructure/Kafka/IKafkaMessageHandler.cs
  modules/evaluation-server/src/Infrastructure/Kafka/KafkaMessageConsumer.cs
  modules/evaluation-server/src/Infrastructure/Kafka/SegmentChangeMessageHandler.cs
  modules/evaluation-server/src/Infrastructure/MongoDb/BsonDocumentExtensions.cs
  modules/evaluation-server/src/Infrastructure/Services/DataSyncService.cs
  modules/evaluation-server/src/Infrastructure/Services/EvaluationService.cs
  modules/evaluation-server/src/Infrastructure/Services/TargetRuleMatcher.cs
  modules/evaluation-server/src/Infrastructure/WsMessageHandlers/DataSyncMessageHandler.cs
Labels: Evaluation Server

#83 🐛 Completed zh translation & reexecute npm run i18n
  modules/front-end/src/locale/messages.xlf
  modules/front-end/src/locale/messages.zh.xlf
Labels: bug, UI

#84 ✨ Track Insights Api
  modules/evaluation-server/src/Api/Public/InsightController.cs
  modules/evaluation-server/src/Api/Public/PublicApiControllerBase.cs
  modules/evaluation-server/src/Domain/Core/Topics.cs
  modules/evaluation-server/src/Domain/Insights/Insight.cs
  modules/evaluation-server/src/Domain/Insights/InsightMessage.cs
  modules/evaluation-server/src/Domain/Insights/MetricInsight.cs
  modules/evaluation-server/src/Domain/Insights/VariationInsight.cs
Labels: Evaluation Server

#86 🐛 bug(ui): fixed bug the env drawer cannot be closed after creation a n…
  modules/front-end/src/app/core/components/env-drawer/env-drawer.component.ts
Labels: UI

#88 ✨Feat: added experimentation module
  modules/back-end/src/Api/Controllers/ExperimentController.cs
  modules/back-end/src/Api/appsettings.json
  modules/back-end/src/Application/ExperimentMetrics/ExperimentIterationResultsVm.cs
  modules/back-end/src/Application/Experiments/ArchiveExperiment.cs
  modules/back-end/src/Application/Experiments/ArchiveExperimentIterations.cs
  modules/back-end/src/Application/Experiments/CreateExperiment.cs
  modules/back-end/src/Application/Experiments/Enums.cs
  modules/back-end/src/Application/Experiments/ExperimentFilter.cs
  modules/back-end/src/Application/Experiments/ExperimentStatusCountVm.cs
  modules/back-end/src/Application/Experiments/ExperimentVm.cs
  modules/back-end/src/Application/Experiments/GetExperimentIterationResults.cs
  modules/back-end/src/Application/Experiments/GetExperimentList.cs
  modules/back-end/src/Application/Experiments/GetExperimentStatusCount.cs
  modules/back-end/src/Application/Experiments/StartIteration.cs
  modules/back-end/src/Application/Experiments/StopIteration.cs
  modules/back-end/src/Application/FeatureFlags/FeatureFlagVm.cs
  modules/back-end/src/Application/Services/IExperimentService.cs
  modules/back-end/src/Application/Services/IOlapService.cs
  modules/back-end/src/Domain/Experiments/Experiment.cs
  modules/back-end/src/Infrastructure/ConfigureServices.cs
  modules/back-end/src/Infrastructure/Experiments/ExperimentService.cs
  modules/back-end/src/Infrastructure/Experiments/OlapService.cs
  modules/back-end/src/Infrastructure/MongoDb/MongoDbClient.cs
  modules/data-analytics/app/experimentation/models/experiment/experiment_types.py
  modules/data-analytics/app/experimentation/models/experiment/trends_experiment_result.py
  modules/front-end/src/app/core/components/experiment-drawer/experiment-drawer.component.html
  modules/front-end/src/app/core/components/experiment-drawer/experiment-drawer.component.less
  modules/front-end/src/app/core/components/experiment-drawer/experiment-drawer.component.ts
  modules/front-end/src/app/core/components/metric-drawer/metric-drawer.component.html
  modules/front-end/src/app/core/components/metric-drawer/metric-drawer.component.ts
  modules/front-end/src/app/core/services/experiment.service.ts
  modules/front-end/src/app/core/translations/expt-status.translation.ts
  modules/front-end/src/app/features/safe/experiments/overview/overview.component.html
  modules/front-end/src/app/features/safe/experiments/overview/overview.component.ts
  modules/front-end/src/app/features/safe/experiments/overview/types.ts
  modules/front-end/src/app/features/safe/feature-flags/details/details.component.html
  modules/front-end/src/app/features/safe/feature-flags/details/experimentation/experimentation.component.html
  modules/front-end/src/app/features/safe/feature-flags/details/experimentation/experimentation.component.ts
  modules/front-end/src/app/features/safe/feature-flags/details/reporting/reporting.component.ts
  modules/front-end/src/app/features/safe/feature-flags/details/setting/setting.component.ts
  modules/front-end/src/app/features/safe/feature-flags/details/targeting/targeting.component.ts
  modules/front-end/src/app/features/safe/feature-flags/details/triggers/triggers.component.ts
  modules/front-end/src/app/features/safe/feature-flags/types/experimentations.ts
  modules/front-end/src/app/features/safe/iam/groups/index/index.component.html
  modules/front-end/src/locale/messages.xlf
  modules/front-end/src/locale/messages.zh.xlf
Labels: UI, API, OLAP

#89 📖 Updated documentation of readme and get-started
  README.md
  modules/front-end/src/app/core/components/guide/guide.component.html
Labels: documentation
