Repository featbit/featbit, pull requests merged in 2024-03, with the labels that each got.

#602 🧹 refactor: enhance store availability check
  modules/evaluation-server/src/Domain/Shared/IStore.cs
  modules/evaluation-server/src/Infrastructure/Fakes/FakeStore.cs
  modules/evaluation-server/src/Infrastructure/Redis/IRedisClient.cs
  modules/evaluation-server/src/Infrastructure/Redis/RedisClient.cs
  modules/evaluation-server/src/Infrastructure/Store/HybridStore.cs
  modules/evaluation-server/src/Infrastructure/Store/MongoDbStore.cs
  modules/evaluation-server/src/Infrastructure/Store/RedisStore.cs
  modules/evaluation-server/src/Streaming/Connections/ConnectionVersion.cs
Labels: evalution-server, refactoring

#603 🧹 refactor: normalize redis cache key
  modules/back-end/src/Infrastructure/Redis/RedisKeys.cs
  modules/back-end/src/Infrastructure/Redis/RedisPopulatingService.cs
  modules/data-analytics/app/setting.py
  modules/evaluation-server/src/Infrastructure/Redis/RedisKeys.cs
Labels: api, evalution-server, breaking-change

#606 ✨ feat: add secret cache
  modules/back-end/src/Application/Caches/ICacheService.cs
  modules/back-end/src/Application/Environments/AddSecret.cs
  modules/back-end/src/Application/Environments/CreateEnvironment.cs
  modules/back-end/src/Application/Environments/DeleteEnvironment.cs
  modules/back-end/src/Application/Environments/DeleteSecret.cs
  modules/back-end/src/Application/Environments/OnEnvironmentAdded.cs
  modules/back-end/src/Application/Environments/OnEnvironmentDeleted.cs
  modules/back-end/src/Application/Environments/OnSecretAdded.cs
  modules/back-end/src/Application/Environments/OnSecretDeleted.cs
  modules/back-end/src/Application/Organizations/DeleteOrganization.cs
  modules/back-end/src/Application/Organizations/Onboarding.cs
  modules/back-end/src/Application/Projects/CreateProject.cs
  modules/back-end/src/Application/Projects/DeleteProject.cs
  modules/back-end/src/Application/Projects/OnProjectAdded.cs
  modules/back-end/src/Application/Projects/OnProjectDeleted.cs
  modules/back-end/src/Application/Segments/CreateSegment.cs
  modules/back-end/src/Application/Services/IEndUserService.cs
  modules/back-end/src/Application/Services/IEnvironmentService.cs
  modules/back-end/src/Application/Services/IProjectService.cs
  modules/back-end/src/Domain/Environments/Environment.cs
  modules/back-end/src/Domain/Environments/ResourceDescriptor.cs
  modules/back-end/src/Infrastructure/EndUsers/EndUserService.cs
  modules/back-end/src/Infrastructure/Environments/EnvironmentService.cs
  modules/back-end/src/Infrastructure/Organizations/OrganizationService.cs
  modules/back-end/src/Infrastructure/Projects/ProjectService.cs
  modules/back-end/src/Infrastructure/Redis/RedisCacheService.cs
  modules/back-end/src/Infrastructure/Redis/RedisKeys.cs
  modules/back-end/src/Infrastructure/Redis/RedisPopulatingService.cs
Labels: enhancement, api

#609 🧹 refactor: enhance secret check
  modules/evaluation-server/src/Api/Public/PublicApiControllerBase.cs
  modules/evaluation-server/src/Domain/Shared/GuidHelper.cs
  modules/evaluation-server/src/Domain/Shared/IStore.cs
  modules/evaluation-server/src/Domain/Shared/Secret.cs
  modules/evaluation-server/src/Domain/Shared/TestData.cs
  modules/evaluation-server/src/Domain/Shared/Token.cs
  modules/evaluation-server/src/Domain/Shared/TokenNumber.cs
  modules/evaluation-server/src/Infrastructure/Fakes/FakeStore.cs
  modules/evaluation-server/src/Infrastructure/Redis/RedisKeys.cs
  modules/evaluation-server/src/Infrastructure/Store/HybridStore.cs
  modules/evaluation-server/src/Infrastructure/Store/MongoDbStore.cs
  modules/evaluation-server/src/Infrastructure/Store/RedisStore.cs
  modules/evaluation-server/src/Streaming/Connections/Client.cs
  modules/evaluation-server/src/Streaming/Connections/Connection.cs
  modules/evaluation-server/src/Streaming/Connections/ConnectionHandler.Log.cs
  modules/evaluation-server/src/Streaming/Connections/ConnectionHandler.cs
  modules/evaluation-server/src/Streaming/Connections/ConnectionManager.Log.cs
  modules/evaluation-server/src/Streaming/Connections/ConnectionManager.cs
  modules/evaluation-server/src/Streaming/Connections/IRequestValidator.cs
  modules/evaluation-server/src/Streaming/Connections/RequestValidator.cs
  modules/evaluation-server/src/Streaming/DependencyInjection/StreamingServiceCollectionExtensions.cs
  modules/evaluation-server/src/Streaming/Messages/Message.cs
  modules/evaluation-server/src/Streaming/Shared/RequestHandler.cs
  modules/evaluation-server/src/Streaming/Shared/Secret.cs
  modules/evaluation-server/src/Streaming/StreamingMiddleware.cs
  modules/evaluation-server/tests/Application.IntegrationTests/TestApp.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionBuilder.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionHandlerTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionManagerTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionStoreTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Messages/RequestHandlerTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Messages/RequestValidatorTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Shared/GuidHelperTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Shared/SecretTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Shared/TokenNumberTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Shared/TokenTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/TestData.cs
  modules/front-end/src/app/core/components/guide/guide.component.ts
  modules/front-end/src/app/core/components/header/header.component.ts
  modules/front-end/src/app/core/guards/auth.guard.ts
  modules/front-end/src/app/shared/types.ts
  modules/front-end/src/locale/messages.xlf
  modules/front-end/src/locale/messages.zh.xlf
Labels: enhancement, evalution-server

#613 ✨ feat: allow client SDKs to get incremental flag changes by API
  modules/evaluation-server/src/Api/Public/SdkController.cs
Labels: evalution-server

#610 🚀 perf: add store availablility check sentinel
  modules/evaluation-server/EvaluationServer.sln
  modules/evaluation-server/src/Domain/Shared/IStore.cs
  modules/evaluation-server/src/Infrastructure/Fakes/FakeStore.cs
  modules/evaluation-server/src/Infrastructure/MongoDb/IMongoDbClient.cs
  modules/evaluation-server/src/Infrastructure/MongoDb/MongoDbClient.cs
  modules/evaluation-server/src/Infrastructure/Store/EmptyStore.cs
  modules/evaluation-server/src/Infrastructure/Store/HybridStore.cs
  modules/evaluation-server/src/Infrastructure/Store/MongoDbStore.cs
  modules/evaluation-server/src/Infrastructure/Store/NoneStore.cs
  modules/evaluation-server/src/Infrastructure/Store/RedisStore.cs
  modules/evaluation-server/src/Infrastructure/Store/StoreAvailabilityListener.cs
  modules/evaluation-server/src/Infrastructure/Store/StoreAvailableSentinel.cs
  modules/evaluation-server/src/Infrastructure/Store/Stores.cs
  modules/evaluation-server/src/Infrastructure/Utils/TaskExtensions.cs
  modules/evaluation-server/src/Streaming/DependencyInjection/StreamingBuilderExtensions.cs
  modules/evaluation-server/tests/Infrastructure.UnitTests/Infrastructure.UnitTests.csproj
  modules/evaluation-server/tests/Infrastructure.UnitTests/StoreAvailableSentinelTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Messages/RequestValidatorTests.cs
Labels: enhancement, evalution-server

#612 🚀 perf: sampling end user messages
  modules/evaluation-server/src/Api/Public/InsightController.cs
  modules/evaluation-server/src/Api/Setup/BoundedMemoryCache.cs
  modules/evaluation-server/src/Api/Setup/ServicesRegister.cs
Labels: enhancement, evalution-server

#615 🧹 chore: add more redis populating logs
  modules/back-end/src/Infrastructure/Redis/RedisPopulatingService.cs
Labels: api

#616 🐛 Fix: If the variation name is not short, can't see the full name.
  modules/front-end/src/app/features/safe/feature-flags/details/setting/setting.component.html
  modules/front-end/src/app/features/safe/feature-flags/details/setting/setting.component.less
  modules/front-end/src/locale/messages.xlf
  modules/front-end/src/locale/messages.zh.xlf
Labels: points:4

#619 🖍 style: improve variation item style
  modules/front-end/src/app/features/safe/feature-flags/details/setting/setting.component.html
  modules/front-end/src/app/features/safe/feature-flags/details/setting/setting.component.less
Labels: ui

#618 🐛 fix: ui is blank if workspaceId is invalid
  modules/front-end/src/app/core/guards/auth.guard.ts
  modules/front-end/src/app/core/services/workspace.service.ts
  modules/front-end/src/locale/messages.xlf
  modules/front-end/src/locale/messages.zh.xlf
Labels: ui

#620 ✨ feat: resource finder
  modules/back-end/src/Api/Controllers/ResourceController.cs
  modules/back-end/src/Application/Resources/GetResourceList.cs
  modules/back-end/src/Application/Resources/GetResourceListV2.cs
  modules/back-end/src/Application/Resources/MapperProfile.cs
  modules/back-end/src/Application/Resources/ResourceFilter.cs
  modules/back-end/src/Application/Resources/ResourceFilterV2.cs
  modules/back-end/src/Application/Resources/ResourceSpaceLevel.cs
  modules/back-end/src/Application/Resources/ResourceVm.cs
  modules/back-end/src/Application/Services/IResourceServiceV2.cs
  modules/back-end/src/Domain/Resources/Resource.cs
  modules/back-end/src/Domain/Resources/ResourceV2.cs
  modules/back-end/src/Infrastructure/ConfigureServices.cs
  modules/back-end/src/Infrastructure/Resources/ResourceServiceV2.cs
  modules/front-end/package-lock.json
  modules/front-end/package.json
  modules/front-end/src/app/core/components/resource-finder/resource-finder.component.html
  modules/front-end/src/app/core/components/resource-finder/resource-finder.component.less
  modules/front-end/src/app/core/components/resource-finder/resource-finder.component.ts
  modules/front-end/src/app/core/core.module.ts
  modules/front-end/src/app/core/services/resource.service.ts
  modules/front-end/src/app/features/safe/iam/components/policy-editor/resources-selector/resources-selector.component.ts
  modules/front-end/src/app/shared/policy.ts
  modules/front-end/src/locale/messages.xlf
  modules/front-end/src/locale/messages.zh.xlf
  modules/front-end/src/styles-common.less
  modules/front-end/src/styles/nz-modal.less
Labels: enhancement, ui, api
