Repository featbit/featbit, pull requests merged in 2025-05, with the labels that each got.

#744 🐛 fix: postgres consumer doesn't use optional password
  modules/evaluation-server/src/Infrastructure/MQ/Postgres/PostgresMessageConsumer.cs
Labels: bug, evalution-server

#746 🧹 refactor: WebSocket MessageDispatcher
  modules/evaluation-server/src/Infrastructure/MQ/Postgres/PostgresMessageConsumer.cs
  modules/evaluation-server/src/Streaming/Connections/Connection.cs
  modules/evaluation-server/src/Streaming/Connections/ConnectionHandler.Log.cs
  modules/evaluation-server/src/Streaming/Connections/ConnectionHandler.cs
  modules/evaluation-server/src/Streaming/Connections/ConnectionManager.Log.cs
  modules/evaluation-server/src/Streaming/Connections/ConnectionManager.cs
  modules/evaluation-server/src/Streaming/Connections/IConnectionHandler.cs
  modules/evaluation-server/src/Streaming/Consumers/FeatureFlagChangeMessageConsumer.cs
  modules/evaluation-server/src/Streaming/Consumers/SegmentChangeMessageConsumer.cs
  modules/evaluation-server/src/Streaming/DependencyInjection/StreamingServiceCollectionExtensions.cs
  modules/evaluation-server/src/Streaming/Messages/EchoMessageHandler.cs
  modules/evaluation-server/src/Streaming/Messages/MessageContext.cs
  modules/evaluation-server/src/Streaming/Messages/MessageDispatcher.Log.cs
  modules/evaluation-server/src/Streaming/Messages/MessageDispatcher.cs
  modules/evaluation-server/src/Streaming/Messages/MessageReader.cs
  modules/evaluation-server/src/Streaming/Messages/PingMessageHandler.cs
  modules/evaluation-server/src/Streaming/Streaming.csproj
  modules/evaluation-server/src/Streaming/StreamingMiddleware.cs
  modules/evaluation-server/tests/Infrastructure.UnitTests/StoreAvailableSentinelTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionBuilder.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionHandlerTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionLogTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionManagerTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Messages/MessageDispatcherTests.cs
  modules/evaluation-server/tests/TestBase/InMemoryFakeLogger.cs
  modules/evaluation-server/tests/TestBase/TestBase.csproj
Labels: evalution-server, refactoring

#747 🏗 infra: shutdown container gracefully
  modules/back-end/start.sh
  modules/evaluation-server/start.sh
Labels: api, evalution-server, infrastructure

#748 📖 doc: update development instruction
  Development.md
Labels: documentation

#749 ✨ feat: support relay proxy connection
  modules/evaluation-server/src/Domain/EndUsers/EndUserMessage.cs
  modules/evaluation-server/src/Domain/Shared/Secret.cs
  modules/evaluation-server/src/Domain/Shared/TestData.cs
  modules/evaluation-server/src/Infrastructure/Fakes/FakeStore.cs
  modules/evaluation-server/src/Streaming/Connections/Connection.cs
  modules/evaluation-server/src/Streaming/Connections/ConnectionContext.cs
  modules/evaluation-server/src/Streaming/Connections/ConnectionContextTagProvider.cs
  modules/evaluation-server/src/Streaming/Connections/ConnectionManager.Log.cs
  modules/evaluation-server/src/Streaming/Connections/ConnectionManager.cs
  modules/evaluation-server/src/Streaming/Connections/ConnectionStore.cs
  modules/evaluation-server/src/Streaming/Connections/ConnectionType.cs
  modules/evaluation-server/src/Streaming/Connections/ConnectionVersion.cs
  modules/evaluation-server/src/Streaming/Connections/DefaultConnectionContext.cs
  modules/evaluation-server/src/Streaming/Connections/IConnectionManager.cs
  modules/evaluation-server/src/Streaming/Connections/IRequestValidator.cs
  modules/evaluation-server/src/Streaming/Connections/RequestValidator.cs
  modules/evaluation-server/src/Streaming/Connections/ValidationResult.cs
  modules/evaluation-server/src/Streaming/DependencyInjection/StreamingServiceCollectionExtensions.cs
  modules/evaluation-server/src/Streaming/Messages/DataSyncMessageHandler.cs
  modules/evaluation-server/src/Streaming/Messages/MessageContext.cs
  modules/evaluation-server/src/Streaming/Messages/MessageDispatcher.Log.cs
  modules/evaluation-server/src/Streaming/Messages/MessageDispatcher.cs
  modules/evaluation-server/src/Streaming/Properties/AssemblyInfo.cs
  modules/evaluation-server/src/Streaming/Services/DataSyncService.cs
  modules/evaluation-server/src/Streaming/Services/IDataSyncService.cs
  modules/evaluation-server/src/Streaming/Services/IRelayProxyService.cs
  modules/evaluation-server/src/Streaming/Services/RelayProxyService.cs
  modules/evaluation-server/src/Streaming/StreamingLoggingExtensions.cs
  modules/evaluation-server/src/Streaming/StreamingMiddleware.cs
  modules/evaluation-server/src/Streaming/StreamingOptions.cs
  modules/evaluation-server/tests/Application.IntegrationTests/Snapshots/DataSyncTests.DoRelayProxyDataSyncAsync.verified.txt
  modules/evaluation-server/tests/Application.IntegrationTests/TestApp.cs
  modules/evaluation-server/tests/Application.IntegrationTests/WebSockets/DataSyncTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionBuilder.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionContextBuilder.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionLogTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionManagerTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionStoreTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/ConnectionTypeTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Connections/VersionTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Messages/MessageDispatcherTests.cs
  modules/evaluation-server/tests/Streaming.UnitTests/Messages/RequestValidatorTests.cs
Labels: enhancement, evalution-server

#751 🔥 fix: isArchived field is required by Java SDK
  modules/evaluation-server/src/Infrastructure/Store/PostgresStore.cs
Labels: bug

#754 ✨ feat: protect workspace with IAM permissions
  modules/back-end/src/Application/Resources/GetResourceList.cs
  modules/back-end/src/Domain/Resources/Resource.cs
  modules/back-end/src/Domain/Resources/ResourceTypes.cs
  modules/back-end/src/Infrastructure/Services/EntityFrameworkCore/ResourceService.cs
  modules/back-end/src/Infrastructure/Services/MongoDb/ResourceService.cs
  modules/front-end/src/app/features/safe/workspaces/workspace/workspace.component.html
  modules/front-end/src/app/features/safe/workspaces/workspace/workspace.component.ts
  modules/front-end/src/app/shared/policy.ts
  modules/front-end/src/locale/messages.xlf
  modules/front-end/src/locale/messages.zh.xlf
Labels: enhancement

#755 🏗 infra: reorganize db migration scripts
  infra/mongodb/docker-entrypoint-initdb.d/v0.0.0.js
  infra/mongodb/docker-entrypoint-initdb.d/v5.0.4.js
  infra/postgresql/docker-entrypoint-initdb.d/a_create_db.sql
  infra/postgresql/docker-entrypoint-initdb.d/c_seed_data.sql
  infra/postgresql/docker-entrypoint-initdb.d/v0.0.0.sql
  infra/postgresql/docker-entrypoint-initdb.d/v5.0.4.sql
Labels: infrastructure

#756 🐛 fix: websocket buffer is too small for client type connection
  modules/evaluation-server/src/Streaming/Messages/MessageDispatcher.Log.cs
  modules/evaluation-server/src/Streaming/Messages/MessageDispatcher.cs
  modules/evaluation-server/tests/Application.IntegrationTests/Snapshots/DataSyncTests.DoClientDataSyncAsync_multiFragment=False.verified.txt
  modules/evaluation-server/tests/Application.IntegrationTests/Snapshots/DataSyncTests.DoClientDataSyncAsync_multiFragment=True.verified.txt
  modules/evaluation-server/tests/Application.IntegrationTests/Snapshots/DataSyncTests.DoRelayProxyDataSyncAsync_multiFragment=False.verified.txt
  modules/evaluation-server/tests/Application.IntegrationTests/Snapshots/DataSyncTests.DoRelayProxyDataSyncAsync_multiFragment=True.verified.txt
  modules/evaluation-server/tests/Application.IntegrationTests/Snapshots/DataSyncTests.DoServerDataSyncAsync_multiFragment=False.verified.txt
  modules/evaluation-server/tests/Application.IntegrationTests/Snapshots/DataSyncTests.DoServerDataSyncAsync_multiFragment=True.verified.txt
  modules/evaluation-server/tests/Application.IntegrationTests/WebSockets/DataSyncTests.cs
Labels: bug, evalution-server
